
.header {
    background-color: darkcyan;
    
    .header__container {
        max-width: 900px;
        margin: 0 auto;
        padding: 30px 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
                
        .header__logo {
            width: 120px;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;

            .navbar__link {
                font-size: 20px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 700;
                color: white;
                margin: 0;
            }
        }
    }
}
