

.contenedor-turquesa {
    max-width: 900px;
    margin: 40px auto;
    background-color: turquoise;
    color: white;
    padding: 10px;
}
.mi-boton {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}